body{
    margin: 0;
    background-color:#879ca8;
    width: 100%;
    padding: 30px;
    height: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  .mycalculator{
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
  }
  
  .values{
    padding: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(8, 8, 7);
  }

  
  .select{
    font-size: 14px;
    text-align: center;
    background-color: darkturquoise;
  
  }
  
  .result{
    color:red;
    font-size: 33px;
    text-align: center;
  }

  .calculatebutton{
    radius: 20px;
    color: red;
    font-size: 15px;
    border-radius: 22px;
    border-color: #879ca8;
  }